*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );

    color:white;

    font-family:'Outfit','Noto Sans KR',sans-serif;

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

h1{

    font-size:70px;

    margin-bottom:60px;

    font-weight:800;

}

.menu{

    display:flex;

    flex-direction:column;

    gap:25px;

}

button{

    width:450px;

    height:80px;

    border:none;

    border-radius:20px;

    font-size:36px;

    font-weight:700;

    cursor:pointer;

    transition:0.2s;
}

button:hover{

    transform:scale(1.03);

}